<div class="wrapper">
 

  <div class="container ">
    <div class="item ">
      <p class="title ">STUDENTS</p>
      <p class="count"> {{studentsCount}} </p>
    </div>
    <div class="item">
      <p class="title ">EMPLOYEES</p>
      <p class="count"> {{employeesCount}} </p>
    </div>
   
   
  </div>
  <br>
  <div class="content">
    <ul>
        <li>Admin Dashboard with features to add new Students, employees, edit them and remove them as per business goals.</li> <br>
        <li>Approve Employees as per demand and quality. </li>  <br> <br>
        <button class="btn btn-secondary" routerLink="../employeeApproval">Approve Employees</button> &nbsp;
        <button class="btn btn-info" routerLink="/recruiter">Add Student</button>
    </ul>


</div>
