<div class="wrapper">
    <p class="heading"><br><br><br> WELCOME</p><br><br><br>
    <div class="content">
        <ul>
            <li>We improves the skills and knowledge of entrepreneurs through various training and classroom programs. The whole point of entrepreneurship development is to increase the number of professional entrepreneurs.
               <br><br> <li>Our  objective is to reduce the  poverty by increasing the employability and high potential growth in enterprise creation among the youth in Kerala. The specific objectives are to Impart skills through short term training in Entrepreneurship and Enterprise Development.</li> <br>
            <li> 
                If you are a new user, you must first create your profile. The profile creation process is made to be completed within seconds, saving your valuable time. <br> <br>
            <button class="btn btn-secondary" routerLink="../employeeProfile">Create Profile</button> &nbsp;
            </li>
        </ul>
    </div>
</div>
